</main>

<footer>
    <div>
      Copyright &copy; 
      <span id="copyright">
          <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>

      || Made with ❤️ in Sri Lanka.
      
  </div>
  </footer>

  <script>
    function handleAnswerClick(selectedAnswer, isCorrect) {
    // Remove focus from all buttons (optional, if you don't want the focus effect)
    const buttons = document.querySelectorAll('.answer-option');
    const scoreInput = document.querySelector('input[name="score"]');
    let currentScore = parseInt(scoreInput.value)


    
    buttons.forEach(btn => {
        btn.disabled = true; // Disable all buttons after one is clicked
    });

    // Add the 'clicked' class based on whether the answer is correct or incorrect
    if (isCorrect === 'true') {
        selectedAnswer.classList.add('clicked');
        currentScore++;


    } else {
        selectedAnswer.classList.add('clicked');
    }
    scoreInput.value = currentScore;

    document.querySelector(".answer-submit-button").disabled = false;
    

}

window.history.forward(); 
        function noBack() { 
            window.history.forward();
        }
  </script>
  </body>
  </html>