<footer>
    <div>
      Copyright &copy; 
      <span id="copyright">
          <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>

      || Made with ❤️ in Sri Lanka.
      
  </div>
  </footer>