</main>

<footer>
    <div>
      Copyright &copy; 
      <span id="copyright">
          <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
      </span>

      || Made with ❤️ in Sri Lanka.
      
  </div>
  </footer>

  <!-- <script>

function checkAnswer() {
    let boxes = document.querySelectorAll('.answer-option'); // Select all elements with the class 'myClass'
    boxes.forEach((box, index) => {
        box.id = 'newId' + (index + 1); // Assign a unique ID to each element, e.g., 'newId1', 'newId2', etc.
    });
}

  </script> -->

  <script>
    function handleAnswerClick(button, isCorrect) {
    // Remove focus from all buttons (optional, if you don't want the focus effect)
    const buttons = document.querySelectorAll('.answer-option');
    buttons.forEach(btn => {
        btn.disabled = true; // Disable all buttons after one is clicked
    });

    // Add the 'clicked' class based on whether the answer is correct or incorrect
    if (isCorrect === 'true') {
        button.classList.add('clicked');
    } else {
        button.classList.add('clicked');
    }
    document.querySelector(".answer-submit-button").disabled = false;

}
  </script>
  </body>
  </html>