<h1>Hey THERE!</h1>

<form action="/">
    <button>Try another quiz</button>
</form>

<!-- <form action="/" method="POST">
    <button>retry quiz</button>
</form>

<a href="/quizpage">retry quiz</a> -->