body {
    font-family: "Titillium Web", "Dosis";
    background-color: #01204E;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
    margin: 0;
}
.answer-option {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    border-radius: 10px;
    color: #028391;
    height: 25px;
    width: 200px;
    margin-left: 18px;
    font-size: 13px;
    line-height: 70%;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 600;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
    
}
.correct-answer.clicked, .correct-answer.reveal-answer {
    background-color: #97BE5A;
}

.incorrect-answer.clicked {
    background-color: #FF0000;
    color: #F6DCAC;

}
.answer-option:disabled {
    cursor: not-allowed; /* Visual indicator when disabled */
}
.logo {
    height: 106px;
    width: 237px;
}
.logo-container {
    max-width: fit-content;  
    margin: 30px auto 0 auto;
}   
#quizPageLogoContainer {
    margin-top: 10px;
}   
label {
    width:200px;
    display: inline-block;
    color: #01204E;
    margin-top: 21px;
    margin-left: 18px;
    font-weight: 700;
    font-size: 15px;

  }

    /* float: left;
    width: 235px;
    height: 30px; */
    /* font-family: "Titillium Web";
    /* font-size: 100px; */
    /* color: #01204E;  */

select {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    border-radius: 10px;
    color: #028391;
    height: 30px;
    width: 200px;
    margin-left: 18px;
    font-size: 13px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
}

.quiz-selection-section, .question-section {
    background-color: #028391;
    height: 385px;
    width: 235px;
    border-radius: 20px 20px 0 0;
    position: relative;
    margin: 30px auto 0 auto;
}
footer {
    margin-top: auto;
    background-color: #F6DCAC;
    text-align: center;
    color: #01204E;
    font-weight: 600;
   
}
.form-submit, .answer-submit-button {
    width: 235px;
    height: 30px;
    margin-left: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #DC5F00;
    color: #F6DCAC;
    border: none;
    font-family: "Titillium Web", "Dosis";
    font-size: 15px;
    opacity: 0.5;
    cursor: not-allowed;
    /* cursor: not-allowed;  */
    font-weight: 700;
    /* transform: translateY(-100%); */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
}

.answer-submit-button:disabled {
    cursor: not-allowed;
}
.answer-submit-button:not(:disabled) {
    opacity: 1; 
    cursor: pointer; 
}
 
form:valid .form-submit {
    opacity: 1; 
    cursor: pointer; 
} 
/* button {
    border-color: none;
} */

.quiz-header {
    /* color: black ;
    background-color: white;  */
    width: 235px;
    height: 160px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 0;
    right: 0;

    /* opacity: 0.3; */
}
.heading-section {
    position: absolute;
    color: black;
    width: 235px;
    height: 160px;
    text-align: center;
    top: 0;
    right: 0;
}
.header-container {
    position: relative;
    width: 235px;
    height: 160px;
    margin: 0 auto;
}
.background-overlay {
    position: relative;
    width: 235px;
    height: 160px;
    margin: 0 auto;
    background-color: rgba(1, 32, 78, 0.65) ;

}
.mainheading {
    font-size: 20px;
    margin: 10px 0;
    line-height: 80%;
    color: #F6DCAC;
    font-weight: 800;
    letter-spacing: 1px;
}
.subheading {
    font-size: 15px;
    margin: 5px 0;
    color: #F6DCAC;
    font-weight: 700;
}
/* .category-image{
    position: absolute;
    width: 235px;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    opacity: 0.1;

} */

.question {
    color: white
}

label.quiz-progress {
    color: white;
}
.progress-bar {
    width: 240px;
    display: flex;
    flex-direction: column;
}
#answerOptions input {
    border: none;
    border-radius: 10px;
}
.question-section {
    background-color: #028391;
    padding-top: 25px;
    height: fit-content;
    padding-bottom: 8%;

}
.quizpage-logo {
    width: 85px;
    height: 40px;
}
/* #answerOptions input {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    border-radius: 10px;
    color: #028391;
    height: 25px;
    width: 200px;
    margin-left: 18px;
    font-size: 13px;
    line-height: 70%;
}

*/
#answerOptions {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding-top: 10%;
    padding-bottom: 15%; */
    /* justify-content: space-between; */
} 

.quiz-question {
    color: #01204E;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    line-height: 100%;
    margin: 0 18px 15px 18px;
    /* margin-top: 0;
    margin:; */
}
.progress-bar {
    margin: 0 auto;
}
progress {
    width: 235px;
    margin: 0 auto;
    background-color: pink;
    border-radius: 5px;
    height: 10px;
}
#quizProgress::-webkit-progress-bar {
    background-color: #F6DCAC;
    border-radius: 5px;
}
#quizProgress::-webkit-progress-value {
    background-color: #028391;
    border-radius: 5px;
}
label.quiz-progress {
    color: #F6DCAC;
}