body {
    font-family: "Titillium Web", "Dosis";
    background-color: #01204EE6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
    margin: 0;
    
}
.answer-option, .next-action-button {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    color: #028391;
    height: 25px;
    width: 200px;
    margin-left: 18px;
    font-size: 13px;
    line-height: 70%;
    cursor: pointer;
    margin-top: 5px;
    font-weight: 600;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
    border-radius: 15px;
    margin-bottom: 30px;
    border: solid 1px #F6DCAC;
}

/* .answer-submit-button {
    margin-top: 40px;
} */
.correct-answer.clicked, .correct-answer.reveal-answer {
    background-color: #97BE5A;
}

.incorrect-answer.clicked {
    background-color: #FF0000;
    color: #F6DCAC;

}
.answer-option:disabled {
    cursor: not-allowed; /* Visual indicator when disabled */
}
.logo {
    height: 106px;
    width: 237px;
}
.logo-container {
    max-width: fit-content;  
    margin: 3vh auto 0 auto;
}   
#quizPageLogoContainer {
    margin-top: 10px;
}   
label {
    width:200px;
    display: inline-block;
    color: #01204E;
    margin-top: 21px;
    margin-left: 18px;
    font-weight: 700;
    font-size: 15px;

  }

    /* float: left;
    width: 235px;
    height: 30px; */
    /* font-family: "Titillium Web";
    /* font-size: 100px; */
    /* color: #01204E;  */

select {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    border-radius: 10px;
    color: #028391;
    height: 30px;
    width: 200px;
    margin-left: 18px;
    margin-bottom: 5px;
    font-size: 13px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
}

#selectionOptions{
    height: 380px;
}

.quiz-selection-section, .question-section {
    background-color: #028391;
    height: fit-content;
    width: 235px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    margin: 30px auto 0 auto;
    
}
footer {
    margin-top: auto;
    background-color: #F6DCAC;
    text-align: center;
    color: #01204E;
    font-weight: 600;
   
}
.form-submit, .answer-submit-button {
    width: 235px;
    height: 30px;
    margin-left: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #DC5F00;
    color: #F6DCAC;
    border: none;
    font-family: "Titillium Web", "Dosis";
    font-size: 15px;
    opacity: 0.5;
    cursor: not-allowed;
    border-radius: 0 0 20px 20px;
    /* cursor: not-allowed;  */
    font-weight: 700;
    /* transform: translateY(-100%); */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
}

.answer-submit-button:disabled {
    cursor: not-allowed;
}
.answer-submit-button:not(:disabled) {
    opacity: 1; 
    cursor: pointer; 
}
 
form:valid .form-submit {
    opacity: 1; 
    cursor: pointer; 
} 
/* button {
    border-color: none;
} */

.quiz-header {
    /* color: black ;
    background-color: white;  */
    width: 235px;
    height: 130px;
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 0;
    right: 0;

    /* opacity: 0.3; */
}
.heading-section {
    position: absolute;
    color: black;
    width: 235px;
    height: 130px;
    text-align: center;
    top: 0;
    right: 0;
}
.header-container {
    position: relative;
    width: 235px;
    height: 130px;
    margin: 0 auto;
}
.background-overlay {
    position: relative;
    width: 235px;
    height: 130px;
    margin: 0 auto;
    background-color: rgba(1, 32, 78, 0.65) ;
    border-radius: 0 0 20px 20px;

}
.mainheading {
    font-size: 20px;
    margin: 25px 0 10px 0;
    line-height: 80%;
    color: #F6DCAC;
    font-weight: 700;
    letter-spacing: 1px;
}
.subheading {
    font-size: 15px;
    margin: 5px 0;
    color: #F6DCAC;
    font-weight: 600;
}
/* .category-image{
    position: absolute;
    width: 235px;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    opacity: 0.1;

} */

.question {
    color: white
}

label.quiz-progress {
    color: white;
}
.progress-bar {
    width: 240px;
    display: flex;
    flex-direction: column;
}
#answerOptions input {
    border: none;
    border-radius: 10px;
}
.question-section {
    padding-top: 25px;
    padding-bottom: 25px;
    word-wrap: break-word;

}
.quizpage-logo {
    width: 85px;
    height: 40px;
}

.tag-error {
    color: #F6DCAC;
    padding: 20px 0;
    width: 275px;
    height: fit-content;
    text-align: center;
    margin: 50px auto;
    border-radius: 20px;
    border:1px solid #028391;
}
.tag-error button {
    margin-left: 0;
}
.tag-error p {
    width: 250px;
    margin-left: 12px;
}

.notice {
    color: #F6DCAC;
    width: 300px;
    text-align: center;
    margin: 35px auto 5px auto;
    
}
.opentb-link {
    text-decoration: underline;
    color: #F6DCAC;
}

.main-error {
    font-weight: 700;
    color: #FF0000;
    margin: 0;
   
}
/* #answerOptions input {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    border-radius: 10px;
    color: #028391;
    height: 25px;
    width: 200px;
    margin-left: 18px;
    font-size: 13px;
    line-height: 70%;
}

*/
#answerOptions {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    /* padding-top: 10%;
    padding-bottom: 15%; */
    /* justify-content: space-between; */
} 

.quiz-question, .score-comment {
    color: #01204E;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    height: fit-content;
    line-height: 100%;
    margin: 0 18px 15px 18px;
    /* margin-top: 0;
    margin:; */
}
.progress-bar {
    margin: 0 auto;
}
progress {
    width: 235px;
    margin: 0 auto;
    background-color: pink;
    border-radius: 5px;
    height: 10px;
}
#quizProgress::-webkit-progress-bar {
    background-color: #F6DCAC;
    border-radius: 5px;
}
#quizProgress::-webkit-progress-value {
    background-color: #028391;
    border-radius: 5px;
}
label.quiz-progress {
    color: #F6DCAC;
}
.trophy {
    width: 135px;
    height: auto;
    margin: 10px 50px;
}

.total-score {
    font-weight: 900;
    font-size: 25px;
    color: #F6DCAC;
    margin: 20px 0;
    text-align: center;

}
.score-percentage {
    font-weight: 400;
    font-size: 18px;
    color: #F6DCAC;
    margin: 20px auto;
    text-align: center;
    line-height: 90%;
    width: 210px;
}

.result-section {
    background-color: #028391;
    padding: 25px 0;
    height: fit-content;
    /* padding-bottom: 8%; */
    word-wrap: break-word;
    width: 235px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    margin: 30px auto 0 auto;

}

#retry, #newQuiz {
    border: 1px solid #F6DCAC;
}

#retry {
    background-color: transparent;
    color: #F6DCAC;
}

@media (min-width: 500px) {
    
    .answer-option, .next-action-button {
        height: 30px;
        width: 400px;
        margin-left: 25px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
   
    .logo {
        height: 120px;
        width: 320px;
    }
    .logo-container {
        margin: 30px auto 0 auto;
    }
      
    label {
        margin-top: 22px;
        margin-bottom: 5px;
        margin-left: 27px;
        font-size: 18px;
      }
    
    select {
        border-radius: 15px;
        color: #028391;
        height: 35px;
        width: 400px;
        margin-left: 25px;
        padding-left: 5px;
        font-size: 15px;
    }
    
    #selectionOptions{
        height: 440px;
    }
    
    .quiz-selection-section, .question-section {
        height: fit-content;
        width: 450px;
        border-radius: 25px;        
    }

    .form-submit, .answer-submit-button {
        width: 450px;
        height: 35px;
        font-size: 17px;
        border-radius: 0 0 25px 25px;
    }
    
    .quiz-header {
        width: 450px;
        height: 140px;
    }

    .heading-section {
        width: 450px;
        height: 140px;
    
    }
    .header-container {
        width: 450px;
        height: 140px;
    }
    .background-overlay {
        width: 450px;
        height: 140px;
    
    }
    .mainheading {
        font-size: 30px;
        margin: 20px 10px;
    }
    .subheading {
        font-size: 20px;
    }
    .progress-bar {
        width: 450px;

    }
    #answerOptions input {
        border-radius: 15px;
    }
    .question-section {
        padding-top: 30px;    
    }
    
    .tag-error {
        padding: 25px 0;
        width: 450px;
        margin: 60px auto;
        border-radius: 25px;
    }
    .tag-error button {
        margin-bottom: 0;
    }
    .tag-error p {
        width: 350px;
        margin-left: 50px;
    }
  
    .quiz-question, .score-comment {
        font-size: 20px;
        width: 400px;
        margin: 0 18px 15px 25px;
       
    }
    progress {
        width: 440px;
        border-radius: 10px;
        height: 15px;
    }
    #quizProgress::-webkit-progress-bar {
        border-radius: 10px;
    }
    #quizProgress::-webkit-progress-value {
        border-radius: 10px;
    }
    .trophy {
        width: 140px;
        height: auto;
        margin: 10px 160px;
    }
    
    .total-score {
        font-size: 35px;    
    }
    .score-percentage {
        font-size: 22px;
        width: 260px;
    }
    
    .result-section {
        width: 450px;
        border-radius: 30px;
    }
}