body {
    font-family: "Titillium Web", "Dosis";
    background-color: #01204E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* overflow-y: hidden; */
    margin: 0;
    /* max-height: 100vh; */
    padding: 0;
    
}

button:hover {
    cursor: pointer;
}

a:visited {
    color: white;
    text-decoration: none;
}
a:link {
    color: grey;
    text-decoration: none;
}

.answer-option, .next-action-button {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    color: #028391;
    height: 25px;
    width: 200px;
    margin-left: 18px;
    font-size: 13px;
    line-height: 70%;
    cursor: pointer;
    margin-top: 5px;
    font-weight: 600;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
    border-radius: 15px;
    margin-bottom: 20px;
    border: solid 1px #F6DCAC;
}

/* .answer-submit-button {
    margin-top: 40px;
} */
.correct-answer.clicked, .correct-answer.reveal-answer {
    background-color: #97BE5A;
}

.incorrect-answer.clicked {
    background-color: #FF0000;
    color: #F6DCAC;

}
.answer-option:disabled {
    cursor: not-allowed; /* Visual indicator when disabled */
}
.logo {
    height: 35px;
    width: 80px;
}
.logo-container {
    max-width: fit-content;  
    max-height: fit-content;
    margin: 15px 0 0 15px;
    /* margin: 3vh auto 0 auto; */
}   
#quizPageLogoContainer {
    margin-top: 10px;
}   
label {
    width:200px;
    display: inline-block;
    color: #01204E;
    margin-top: 21px;
    margin-left: 18px;
    font-weight: 700;
    font-size: 15px;

  }

    /* float: left;
    width: 235px;
    height: 30px; */
    /* font-family: "Titillium Web";
    /* font-size: 100px; */
    /* color: #01204E;  */

select {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    border-radius: 10px;
    color: #028391;
    height: 30px;
    width: 200px;
    margin-left: 18px;
    margin-bottom: 5px;
    font-size: 13px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
}

#selectionOptions{
    height: 380px;
}

.quiz-selection-section, .question-section {
    background-color: #028391;
    height: fit-content;
    width: 235px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    margin: 0 auto 0 auto;
    
}
footer {
    margin-top: auto;
    background-color: #DC5F00;
    text-align: center;
    color: white;
    font-weight: 600;
   
}
.form-submit, .answer-submit-button {
    width: 235px;
    height: 30px;
    margin-left: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #DC5F00;
    color: #F6DCAC;
    border: none;
    font-family: "Titillium Web", "Dosis";
    font-size: 15px;
    opacity: 0.5;
    cursor: not-allowed;
    border-radius: 0 0 20px 20px;
    /* cursor: not-allowed;  */
    font-weight: 700;
    /* transform: translateY(-100%); */
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s, box-shadow 0.1s;
}

.answer-submit-button:disabled {
    cursor: not-allowed;
}
.answer-submit-button:not(:disabled) {
    opacity: 1; 
    cursor: pointer; 
}
 
form:valid .form-submit {
    opacity: 1; 
    cursor: pointer; 
} 
/* button {
    border-color: none;
} */

.quiz-header {
    /* color: black ;
    background-color: white;  */
    width: 235px;
    height: 100px;
    border-radius: 0 0 20px 20px;
    position: absolute;
    top: 0;
    right: 0;

    /* opacity: 0.3; */
}
.heading-section {
    position: absolute;
    color: black;
    width: 235px;
    height: 130px;
    text-align: center;
    top: 0;
    right: 0;
}
.header-container {
    position: relative;
    width: 235px;
    height: 100px;
    margin: 0 auto;
}
.background-overlay {
    position: relative;
    width: 235px;
    height: 100px;
    margin: 0 auto;
    background-color: rgba(1, 32, 78, 0.65) ;
    border-radius: 0 0 20px 20px;

}
.mainheading {
    font-size: 20px;
    margin: 15px 0 10px 0;
    line-height: 80%;
    color: #F6DCAC;
    font-weight: 700;
    letter-spacing: 1px;
}
.subheading {
    font-size: 15px;
    margin: 5px 0;
    color: white;
    font-weight: 400;
}
/* .category-image{
    position: absolute;
    width: 235px;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
    opacity: 0.1;

} */

.question {
    color: white
}

label.quiz-progress {
    color: white;
}
.progress-bar {
    width: 240px;
    display: flex;
    flex-direction: column;
}
#answerOptions input {
    border: none;
    border-radius: 10px;
}
.question-section {
    padding-top: 25px;
    padding-bottom: 25px;
    word-wrap: break-word;

}
.quizpage-logo {
    width: 85px;
    height: 40px;
}

.tag-error {
    color: #F6DCAC;
    padding: 20px 0;
    width: 275px;
    height: fit-content;
    text-align: center;
    margin: 50px auto;
    border-radius: 20px;
    border:1px solid #028391;
}
.tag-error button {
    margin-left: 0;
}
.tag-error p {
    width: 250px;
    margin-left: 12px;
}

.notice {
    color: #F6DCAC;
    width: 300px;
    text-align: center;
    margin: 35px auto 5px auto;
    
}
.opentb-link {
    text-decoration: underline;
    color: #F6DCAC;
}

.main-error {
    font-weight: 700;
    color: #FF0000;
    margin: 0;
   
}
/* #answerOptions input {
    font-family: "Titillium Web", "Dosis";
    background-color: #F6DCAC;
    border-radius: 10px;
    color: #028391;
    height: 25px;
    width: 200px;
    margin-left: 18px;
    font-size: 13px;
    line-height: 70%;
}

*/
#answerOptions {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    /* padding-top: 10%;
    padding-bottom: 15%; */
    /* justify-content: space-between; */
} 

.quiz-question, .score-comment {
    color: #01204E;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    width: 200px;
    height: fit-content;
    line-height: 100%;
    margin: 0 18px 15px 18px;
    /* margin-top: 0;
    margin:; */
}
.progress-bar {
    margin: 0 auto;
}
progress {
    width: 235px;
    margin: 0 auto 30px auto;
    background-color: pink;
    border-radius: 5px;
    height: 10px;
}
#quizProgress::-webkit-progress-bar {
    background-color: #F6DCAC;
    border-radius: 5px;
}
#quizProgress::-webkit-progress-value {
    background-color: #028391;
    border-radius: 5px;
}
label.quiz-progress {
    color: #F6DCAC;
}
.trophy {
    width: 100px;
    height: auto;
    margin: 20px 50px;
    text-align: center;
}

.resultsPage-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.total-score {
    font-weight: 700;
    font-size: 25px;
    color: #F6DCAC;
    margin: 10px 0;
    text-align: center;

}
.score-percentage {
    font-weight: 400;
    font-size: 18px;
    color: #F6DCAC;
    margin: 20px auto;
    text-align: center;
    line-height: 90%;
    width: 210px;
}

.result-section {
    background-color: #028391;
    padding: 20px 0;
    height: fit-content;
    /* padding-bottom: 8%; */
    word-wrap: break-word;
    width: 235px;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    margin: 10px auto 0 auto;

}

#retry, #newQuiz {
    border: 1px solid #F6DCAC;
}

#retry {
    background-color: transparent;
    color: #F6DCAC;
}

/* new css updates */

.mini-logo {
    width: 100px;
    height: 40px;
    margin-top: 25px;
    text-align: center;
}

.welcome-message {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    width: 200px;
    color: #DC5F00;
}

.welcome-message p {
    margin: 20px auto 20px auto;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-section-main-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.error-section-main-container > .logo-container {
    margin-top: 30px;
}

.intro-message {
    color: white;
    width: 200px;
    font-size: 20px;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 30px;
    /* padding-right: 65px; */

}

.results-page-subsection {
    display: flex;
    flex-direction: column;

}

/* .intro-message p {
    line-height: 900%;
} */

.main-container {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emphasis {
    color: #DC5F00;
    font-weight: 600;
}

.access-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.access-option1, .access-option2 {
    display: grid;
    width: 250px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    margin: 0 0 20px 0;
    font-family: "Titillium Web", "Dosis";

}
.access-option1{
    border: none;
    background-color: #DC5F00;

}

.access-option2 {
    background: none;
    border-color: white;
}

span.guest-user {
    text-decoration: underline;
    color: #DC5F00;
}
.guest-user {
    color: white;
    font-size: 15px;
}

.greeting {
    color: white;
    /* margin-right: 30px; */
    font-size: 15px;
    text-align: center;
    width: 70px;
    margin: 15px 15px 0 0;
}

.greeting span {
    color: #DC5F00;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.quiz-access {
    text-align: center;
}

.main-container2 {
    /* background-image: url("/triviaImage2.jpg");
    background-size: cover;
    background-position: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

    height: 100vh;
    /* overflow-y: auto;  */
}

.login-error {
    color: white;
    max-width: fit-content;
    max-height: fit-content;
    /* padding: 10px; */
    margin: 20px 0 0 0;
    list-style-type: none;
}

.trivia-image, .overlay {
    width: 0;
    height: 0;
    border-radius: 5px;

}
.trivia-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

.main-container2 .mini-logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    margin: 0;
    width: 123px;
    height: 49px;

}

.overlay {
    background-color: #01204E59;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
}

.login-intro-images {
    position: relative;
    margin: 20px 0 30px 20px;
    width: 50vw;
    /* height: fit-content; */
}

.credentials-section {
    margin-left: 10px;
    /* height: 100%; */


}
.page-title {
    font-size: 30px;
    color: #DC5F00;
    font-weight: 700;
    margin: 40px 0 0 0;
    /* text-align: center; */
}

.login-register-form input {
    background-color: #18345E;
    width: 220px;
    height: 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin: 0 0 25px 0;
    font-weight: 400;
    padding-left: 20px;

}

.login-register-form input::placeholder {
    color: white;
}

.credentials-section .guest-user {
    font-size: 15px;
    margin: 10px 0 20px 0;
}

.login-register-form input[type="submit"] {
    background-color: #DC5F00;
    /* padding-left: 0; */
    width: 240px;
    /* margin-top: 30px; */

}

.login-register-form input[type="submit"]:hover {
    cursor: pointer;
}

.option-title p {
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;



    /* background-color: green; */
}
.login-register-form {
    height: fit-content;
    position: absolute;
    top: 25px;
    left: 15px;
    /* padding-top: 10px; */
}

.option-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 445px;
    margin-bottom: 15px;
}

.dash-line {
    border-top: 2px solid white;
    width: 65px;
}

.google {
    width: 230px;
    background-color: #18345E !important;
    border-radius: 5px;
    border-color: white;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    font-size: 15px;
    font-family: "Titillium Web", "Dosis";
    
    display: flex;
    align-items: center; 
    padding: 0 auto 0 auto;  
}
.google-icon {
    /* width: 27px; */
    /* height: 26px; */
    margin: 0 10px 0 70px;
    vertical-align: middle;
    width: 15px; /* Adjust size as needed */
    height: auto;
}

.google-auth a {
    max-height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;

}

.logout {
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    color: white;
}

.oAuth-div {
    /* margin-left: 40px; */
    /* display: flex;
    flex-direction: column; */
}
.form-overlay { 
    height: 250px;
}

.form-overlay, .login-form-overlay {
    width: 250px;
    background-color: #ffffff05;
    position: relative;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    
}
.login-form-overlay {
    height: 250px;

}

.password-toggle-icon {
    position: absolute;
    right: 20px;
    top:  53px;
    /* top: 50%; */
    /* right: 0; */
    /* transform: translateY(-50%); */
    cursor: pointer;
  }
  
  .password-toggle-icon i {
    /* font-size: 18px; */
    /* line-height: 1; */
    color: white;
    /* transition: color 0.3s ease-in-out; */
    /* margin-bottom: 20px; */
  }
  
  .password-toggle-icon i:hover {
    /* color: white; */
  }






@media (min-width: 500px) {
    
    .answer-option, .next-action-button {
        height: 30px;
        width: 400px;
        margin-left: 25px;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 25px;
    }
   
    .logo {
        height: 106px;
        width: 240px;
    }
    .logo-container {
        margin: 10px 0 30px 0;
        
    }
    /* .error-section-main-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .error-section-main-container > .logo-container {
        margin-top: 30px;
    } */

    /* .error-section-main-container .logo-container {
        margin-top: 40px; */


    .top-section {
    /* justify-content: space-between; */
    margin: 25px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    /* margin-bottom: 40px; */
    }
      
    label {
        margin-top: 15px;
        margin-bottom: 5px;
        margin-left: 27px;
        font-size: 18px;
      }
    
    select {
        border-radius: 10px;
        color: #028391;
        height: 30px;
        width: 400px;
        margin-left: 25px;
        padding-left: 5px;
        font-size: 15px;
    }
    
    #selectionOptions{
        height: 400px;
    }
    
    .quiz-selection-section, .question-section {
        height: fit-content;
        width: 450px;
        border-radius: 25px;        
    }
    .quiz-selection-section {
        margin-top: 80px;
    }

    .form-submit, .answer-submit-button {
        width: 450px;
        height: 35px;
        font-size: 17px;
        border-radius: 0 0 25px 25px;
    }
    
    .quiz-header {
        width: 450px;
        height: 140px;
    }

    .heading-section {
        width: 450px;
        height: 140px;
    
    }
    .header-container {
        width: 450px;
        height: 140px;
    }
    .background-overlay {
        width: 450px;
        height: 140px;
    
    }


    
    .mainheading {
        font-size: 30px;
        margin: 20px 10px;
    }
    .subheading {
        font-size: 20px;
    }
    .progress-bar {
        width: 450px;

    }
    #answerOptions input {
        border-radius: 15px;
    }
    .question-section {
        padding-top: 30px;    
    }
    
    .tag-error {
        padding: 25px 0;
        width: 450px;
        margin: 60px auto;
        border-radius: 25px;
    }
    .tag-error button {
        margin-bottom: 0;
    }
    .tag-error p {
        width: 350px;
        margin-left: 50px;
    }
  
    .quiz-question, .score-comment {
        font-size: 20px;
        width: 400px;
        margin: 0 18px 15px 25px;
       
    }
    progress {
        width: 440px;
        border-radius: 10px;
        height: 15px;
        margin-bottom: 30px;
    }
    #quizProgress::-webkit-progress-bar {
        border-radius: 10px;
    }
    #quizProgress::-webkit-progress-value {
        border-radius: 10px;
    }
    .trophy {
        width: 140px;
        height: auto;
        margin: 20px 160px;
    }
    
    .total-score {
        font-size: 35px;    
    }
    .score-percentage {
        font-size: 22px;
        width: 260px;
    }
    
    .result-section {
        width: 450px;
        border-radius: 30px;
    }
        /* new css updates */

    .mini-logo {
        width: 123px;
        height: 49px;
        margin-top: 6vh;
        margin-left: 6.25vw;
    }

    .welcome-message {
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 60px;
        width: 350px;
    }

    .welcome-message p {
        margin: 20px 0 70px 0;
        color: #DC5F00;
    }

    .intro-message {
        color: white;
        width: 350px;
        font-size: 45px;
        display: inline-block;
        font-weight: 400;
        padding-right: 65px;
        border-right: 2px solid white;
        margin-right: 65px;

    }

    /* .intro-message p {
        line-height: 900%;
    } */

    .main-container {
        max-height: 100vh;
        display: grid;
        grid-template-rows: auto;

    }

    .emphasis {
        color: #DC5F00;
        font-weight: 600;
    }

    .access-options {
        display: inline-block;
    }

    .access-option1, .access-option2 {
        display: grid;
        width: 450px;
        height: 50px;
        font-size: 30px;
        border-radius: 5px;
        color: white;
        margin: 0 0 50px 0;
        font-family: "Titillium Web", "Dosis";

    }
    .access-option1{
        border: none;
        background-color: #DC5F00;

    }

    .access-option2 {
        background: none;
        border-color: white;
    }

    span.guest-user {
        text-decoration: underline;
        color: #DC5F00;
    }
    .guest-user {
        color: white;
        font-size: 30px;
    }

    .greeting {
        color: white;
        /* margin-right: 30px; */
        font-size: 30px;
        width: 300px;
        text-align: center;
        margin: 0 0 0 0;

    }


    .quiz-access {
        text-align: center;
    }

    .main-container2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: calc(100vh - var(--footer-height));
        overflow-y: auto; 
    }

    .login-error {
        color: white;
        max-width: fit-content;
        max-height: fit-content;
        padding: 10px;
        margin: 0;
        list-style-type: none;
    }

    .trivia-image, .overlay {
        width: 50vw;
        height: 92vh;
        border-radius: 5px;

    }
    .trivia-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        visibility: visible;
    }

    .main-container2 .mini-logo {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        margin:  20px 0 0 20px;
        width: 123px;
        height: 49px;

    }

    .overlay {
        background-color: #01204E59;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        visibility: visible;
    }

    .login-intro-images {
        position: relative;
        margin: 20px 0 auto 20px;
        width: 50vw;
        height: 92vh;
    }

    .credentials-section {
        margin-left: 150px;
        /* height: 100%; */


    }
    .page-title {
        font-size: 50px;
        color: white;
        font-weight: 700;
        margin: 30px 0 0 0;
    }

    .login-register-form input {
        background-color: #18345E;
        width: 380px;
        height: 30px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        margin: 0 0 25px 0;
        font-weight: 400;
        padding-left: 20px;

    }

    .login-register-form input::placeholder {
        color: white;
    }

    .credentials-section .guest-user {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    .login-register-form input[type="submit"] {
        background-color: #DC5F00;
        /* padding-left: 0; */
        width: 400px;
        margin-top: 30px;

    }

    .option-title p {
        color: white;
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;



        /* background-color: green; */
    }
    .login-register-form {
        height: fit-content;
        position: absolute;
        top: 25px;
        left: 25px;
        padding-top: 10px;
    }

    .option-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 445px;
        margin-bottom: 15px;
    }

    .dash-line {
        border-top: 2px solid white;
        width: 130px;
    }

    .google {
        width: 400px;
        background-color: #18345E !important;
        border-radius: 5px;
        border-color: white;
        margin-top: 20px;
        margin-left: 20px;
        color: white;
        font-size: 20px;
        font-family: "Titillium Web", "Dosis";
        
        display: flex;
        align-items: center; 
        padding: 0 auto 0 auto;  
    }
    .google-icon {
        /* width: 27px; */
        /* height: 26px; */
        margin: 0 30px 0 130px;
        vertical-align: middle;
        width: 20px; /* Adjust size as needed */
        height: auto;
    }

    .google-auth a {
        max-height: fit-content;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .logout {
        margin-top: 20px;
        text-align: center;
        text-decoration: underline;
        color: white;
    }

    .oAuth-div {
        /* margin-left: 40px; */
    }
    .form-overlay { 
        height: 350px;
    }

    .form-overlay, .login-form-overlay {
        width: 450px;
        background-color: #ffffff05;
        position: relative;
        border-radius: 15px;
        margin-bottom: 20px;
        
    }
    .login-form-overlay {
        height: 250px;

    }
    .password-toggle-icon {
        position: absolute;
        right: 20px;
        top:  72px;
        /* top: 50%; */
        /* right: 0; */
        /* transform: translateY(-50%); */
        cursor: pointer;
      }
      
      .password-toggle-icon i {
        /* font-size: 18px; */
        /* line-height: 1; */
        color: white;
        /* transition: color 0.3s ease-in-out; */
        /* margin-bottom: 20px; */
      }
      
      .password-toggle-icon i:hover {
        /* color: white; */
      }

   





}